<%- include('./partials/header') %>
    <%- include('./partials/navbar') %>
        <div class="container mt-5">
            <div class="mt-5">
                <%- include("./partials/flash") %>
            </div>

            <img src="https://blog.hubspot.com/hs-fs/hubfs/Google%20Drive%20Integration/Bonanza%20Update%20404%20Error%20Page%20(heavy%2c%20Update)-Jul-19-2021-07-05-03-72-PM.png?width=975&name=Bonanza%20Update%20404%20Error%20Page%20(heavy%2c%20Update)-Jul-19-2021-07-05-03-72-PM.png"
                style="margin-top:60px" alt="">
        </div>
        <%- include('./partials/footer') %>